* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: rgba(4, 102, 102, 0.527);
  }
  
  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 15px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #search {
    padding: 8px;
  }
  
  #m-section {
    text-align: center;
    font-size: 30px;
  }
  
  #m-section:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid rgb(193, 115, 42); /* This creates the border. Replace black with whatever color you want. */
  }
  
  .card {
    border: 3px solid #000;
    padding: 3%;
    text-align: left;
    height: auto;
    margin: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 14px 31px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 14px 31px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 14px 31px -10px rgba(0,0,0,0.75);
  }
  
  .card:hover {
      transform: translateY(-3px);
  }
  
  .card h4 {
    text-align: center;
  }
  
  .card span {
    color: green;
    font-size: 1.2em;
    letter-spacing: 0;
  }
  
  #title {
    color: rgb(190, 129, 15);
  }
  
  .info-item {
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  
  
  
  